debian/autoreconf.before
debian/libpam-tacplus-dev.debhelper.log
debian/libpam-tacplus.debhelper.log
debian/libtac-dev.debhelper.log
debian/libtac2-bin.debhelper.log
debian/libtac2.debhelper.log

Makefile.in
aclocal.m4
autom4te.cache/
confdefs.h
config.h.in
config.log
config/
configure
conftest.c
conftest.err
debian/autoreconf.after
Makefile
config.h
config.status
libtac.pc
libtool
pam_tacplus.spec
stamp-h1
tacc-tacc.o

